*/

	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


	/* Defaults */

	* {
		margin: 0;
		padding: 0;
	}

	div, article, section, header, footer, nav, figure, li {
		position:relative;
	} /* For absolutely positioning elements within containers  */

	.group:after {
		display: block;
		height: 0;
		font-size: 0;
		content: ".";
		clear: both;
		visibility: hidden;
	} /* For clearing */

	* {
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
	} /* Apply a natural box layout model to all elements */

	/* Families */
	body {
		font-family: "Roboto", verdana, arial, sans-serif;
	}
	h2 {
		font-family: arial, verdana, sans-serif;
	}

	/* Headings */
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	h1 {
		background: #F7A072;
		color: #fff;
		display: inline-block;
		margin-bottom: 1em;
		padding: 0.5em 1em;
	}
	h2 {
		color: white;
		font-weight: 900;
		font-size: 5em;
		letter-spacing: 1px;
		line-height: 1em;
		margin-top: 0;
		margin-bottom: 0;
	}
	h3 {
		font-family: "Roboto Slab", sans-serif;
		font-size: 1.3em;
		font-weight: 700;
		line-height: 1em;
		padding: 0.5em 0 0.25em 0;
	}
	h5 {
		border-top: 1px solid #000000;
		color: black;
		margin: 3% 3% 3% 3%;
		padding-top: 3%;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	h6 {
		font-size: 0.7em;
	}

	/* Images */

	img {
		width: 100%;
		height: 100%;
	}

	/* Links */
	a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		color: #333;
		text-decoration: none;
		-moz-transition:border-color 0.3s ease-in-out;
		-ms-transition:border-color 0.3s ease-in-out;
		-o-transition:border-color 0.3s ease-in-out;
		-webkit-transition:border-color 0.3s ease-in-out;
		transition:border-color 0.3s ease-in-out;
	}
	a:hover {
		background-color: #ea2e49;
	}
	section.content div.title p a {
		color: #fff;
	}
	li {
		font-size: 1em;
		font-weight: 400;
		line-height: 1.5em;
		padding: 0.5em 0;
	}
	i.fa {
		font-size: 2em;
	}
	/* Paragraph styles */
	p {
		font-size: 0.8em;
		font-weight: 300;
		line-height: 1.5em;
		letter-spacing: 1px;
		padding-left: 2%;
		padding-right: 2%;
	}

	/* Layout */
	html {
		background-color: #F8F9F9;
		padding: 1%;
	}
	body {
		background-color: #F8F9F9;
	}
	div.logo {
		width: 79%;
		height: 35vh;
		background-image: linear-gradient(#7D5ACF, #8D8DAB);
	}
	div.wrapper {
		z-index: 2;
	}
	section.content {
		padding: 1% 2% 1% 1%;
	}
	div.logo {
		padding: 2%;
	}
	section.content div.title {
		padding: 0;
	}
	section.content div.latest-news {
		top: 10%;
		padding: 3% 3% 3% 3%;
	}
	section.content div.content-news {
		width: 50%;
		float: left;
		margin-bottom: 3%;
		height: 100%;
	}
	section.content div.content-other {
		width: 50%;
		float: right;
		margin-bottom: 3%;
		height: 100%;
	}
	aside.nav-bar {
		padding: 5%;
		height: 60%;
	}
	aside.nav-bar ul {
		padding: 0.5em 0 2em 0;
	}
	aside.nav-bar ul li {
		color: rgba(0, 0, 0, 0.4);
		list-style: none;
		margin: 0;
		padding: 0 0 0.825em 0;
		text-transform: uppercase;
	}
	footer {
		background-color: rgba(15, 163, 177, 0.9);
		clear: both;
		color: #fff;
		padding: 1em 5%;
		width: 100%;
		height: 15vh;
	}
	footer div.kontakt {
		float: left;
	}
	footer div.code {
		float: right;
	}
	footer a {
		color: white;
	}

	/* Media queries */

	/* Mobile */
	@media screen and (max-width: 460px) {

		h2 {
			font-size: 4em;
		}
		div.logo {
			width: 100%;
			font-size: 1em;
		}
		section.content div.content-news {
			width: 100%;
		}
		section.content div.content-other {
			width: 100%;
		}
		footer {
			width: 100%;
		}

	}
	/* 550 and up */
	@media screen and (min-width: 550px) {

		/*h2 {
			font-size: 6em;
		}*/
		section.content {
			width: 80%;
		}
		aside.nav-bar {
			position: absolute;
			right: 0;
			top: 1%;
			width: 20%;
		}
		div.extra {
			background-color: #86BCDE;
			bottom: 0;
			right: 0;
			position: fixed;
			top: 0;
			width: 20%;
			z-index: 1;
		}
	}
	/* 650 and up */
	@media screen and (min-width: 650px) {

		body {
			font-size: 80%;
		}

	}
	/* 700 and up */
	@media screen and (min-width: 700px) {

		body {
			font-size: 90%;
		}

	}
	/* 800 and up */
	@media screen and (min-width: 800px) {

		body {
			font-size: 100%;
		}

	}
	/* 900 and up */
	@media screen and (min-width: 900px) {

		body {
			font-size: 110%;
		}

	}
	/* 1500 and up */
	@media screen and (min-width: 1500px) {

		body {
			font-size: 125%;
		}

	}
	/* 1800 and up */
	@media screen and (min-width: 1800px) {

		body {
			font-size: 150%;
		}

	}
	/* 2100 and up */
	@media screen and (min-width: 2100px) {

		body {
			font-size: 175%;
		}

	}
	/* 2500 and up */
	@media screen and (min-width: 2500px) {

		body {
			font-size: 200%;
		}

	}
